.div{
    margin-top: 30px;
}

.label{
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}


.input{
    width: 100%;
    padding: 10px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #a8a8a8;
    border-radius: 15px;
    outline: none;
    color: #ffffff;
}
.input::placeholder{
    color: #fff;
}

