.seccionContainer{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#242424, #3a2300);
    display: flex;
    justify-content: center;
}


.seccionContainer article{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 110px;
    padding: 0 20px;
}


.seccionContainer main{
    width: 100%;
}


.cajaLogo{
    width: 500px;
}

@media (max-width: 700px) {
    .seccionContainer article{
        margin-top: 50px;
    }
    .cajaLogo{
        width: 300px;
    }

}


