.seccionTasksContainer {
    margin-top: 40px;
}

.seccionTasksContainer p {
    font-size:  20px;
    text-align: center;
    font-weight: bold;
}


.tasksCartContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    background: transparent;
    backdrop-filter: blur(10px);
    margin-top: 30px;
    padding: 20px;
}

@media (min-width: 1100px) {
    .tasksCartContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1500px) {
    .tasksCartContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}



