.seccionContainer{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.seccionContainer h3{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}
.seccionContainer h3 p{
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}

.buttonUptask{
    padding: 10px 15px;
    background: linear-gradient(#532c00, #0000005e) ;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.buttonUptask .Link{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
}




.from{
    background: transparent;
    backdrop-filter: blur(3px);
    margin-top: 30px;
    padding: 20px 30px;
    box-shadow: 0 5px 5px 0 #3a3a3a;
    border-radius: 10px;
}

.from .buttonForm{
    width: 100%;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background: #c03c145b;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
}

.from .buttonForm:hover{
    background: #582a0557;
}




